*.o
/libzmqu.a

/utest
/.sconsign.dblite
/.directory

/zmqu.creator
/zmqu.creator.user
/zmqu.files
/zmqu.includes
/zmqu.config
/zmqu.cxxflags
/zmqu.cflags

/legacy/ccclient
/legacy/ccserv
/legacy/rrserv
/legacy/varargs_recv_client

/test/client_sock_events
/test/server_sock_events
/test/test_clone_client_q
/test/recv_vector
/test/monitor
/test/async_send
/test/sync_send_hang
/test/clone_monitor
/test/subscriber_events
/test/pong_classics
/test/pong_fiber
